.faq-section{
    position: relative;
    z-index: 30;
    padding: 120px 0;
    background-color: white;
    overflow: hidden;
}

.faq-section .accordion-button::after {
    background-image: none;
    content: "+";
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.faq-section .accordion-button:not(.collapsed)::after {
    content: "−";
    transform: none;
}

.faq-section .accordion-item {
    border-color: #eaeaea !important;
}

.faq-section .accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}